<ul>
  <li><%= link_to 'alert', components_alert_path %></li>
  <li><%= link_to 'badge', components_badge_path %></li>
  <li><%= link_to 'button', components_button_path %></li>
  <li><%= link_to 'buttongroup', components_button_path %></li>
</ul>
