<div class="container">
  <div class="phil-btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn phil-btn-group-item">Left</button>
    <button type="button" class="btn phil-btn-group-item">Middle</button>
    <button type="button" class="btn phil-btn-group-item">Right</button>
  </div>
</div>
<%= render 'links' %>
