/* alert*/

.phil-alert{
  text-align: center;
  background: orangered;
  color: white;
  font-family: 'Oswald';
  border: 1px solid white;
  border-radius: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

/* badge*/

.phil-badge{
  background: orangered;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
}

/* buttons*/

.phil-btn{
  border: 1px solid orangered;
  text-align: center;
  color: orangered;
  width: 20%;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.phil-btn:hover{
  border: 1px solid white;
  background: orangered;
  color: white;
}

.phil-btn-rounded{
  border: 1px solid white;
  text-align: center;
  background: orangered;
  border-radius: 50px;
  color: white;
  width: 20%;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.phil-btn-rounded:hover{
  border: 1px solid orangered;
  background: white;
  color: orangered;
}

/* buttongroup*/

.phil-btn-group{
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.phil-btn-group-item{
  flex: 33%;
  color: orangered;
  border: solid 1px orangered;
  border-radius: 4px;
  text-align: center;
}

.phil-btn-group-item:hover{
  background: orangered;
  color: white;
  border: solid 1px white;
  border-radius: 4px;
  text-align: center;
}

.phil-card{
  margin-top: 40px;
}
